@import '~bootstrap/scss/bootstrap';


$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $body-bg-color;
}

.box {
  align-items: center;
  background-color: $secondary;
  border: 5px solid $black;
  color: $font-color;
  display: flex;
  height: 150px;
  justify-content: center;
}

.alt-color {
  background-color: $alt-color;
}

#new-game {
  align-items: center;
  display: flex;
}
