@import '~bootstrap/scss/bootstrap';


$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  // background-color: $body-bg-color;
  background-image: linear-gradient(Blue 30%,  orange 70%);
}
.buttons {
  display: flex;
  justify-content: center;

}

.box {
  align-items: center;
  background-color: $secondary;
  border: 5px solid $black;
  color: $font-color;
  display: flex;
  height: 150px;
  justify-content: center;
}

.alt-color {
  background-color: $alt-color;
}
.header{
  display: flex;
  justify-content: center;
  color: Orange;
}
#new-game {
  align-items: center;
  display: flex;
}
#pic {
  display: flex;
  align-content: center;
  justify-content: center;
}
